    <div class="row-fluid span6 pull-left">
		<br /><br /><br /><br />
		<div class="panel panel-default">
			  	<div class="panel-heading">
			    	<h3 class="panel-title">Please sign in</h3>
			 	</div>
			  	<div class="panel-body">
			    	<form accept-charset="UTF-8" role="form" action="{{ @BASE.'/user/login' }}" method="post" >
                    <fieldset>
			    	  	<div class="form-group">
			    		    <input class="form-control" id="mobile" placeholder="Mobile"  name="mobile" value="" type="text" required >
			    		</div>
			    		<div class="form-group">
			    			<input class="form-control" id="password" placeholder="Password" name="password" type="password" value="" required>
			    		</div>
			    		<div class="checkbox">
			    	    	<label>
			    	    		<input name="remember" type="checkbox" value="Remember Me"> Remember Me
			    	    	</label> 
			    	    </div>
			    	   
						<p>
						<label for="captcha"><small>CAPTCHA</small></label><br />
						<img src="{{ @captcha }}" title="captcha" /><br />
						<input id="captcha" name="captcha" type="text"  required />
						</p>
		
			    	    <input type="hidden" name="login" value="login" />
			    		<input class="btn btn-primary btn-block btn-lg" type="submit" value="Login">
			    	</fieldset>
			      	</form>
			    </div>
			</div>
			</div>
			
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
		<form role="form" id="signupForm" action="{{ @BASE.'/user/register' }}"  method="post">
			<h2>Please Sign Up <small>It's free and always will be.</small></h2>
			<hr class="colorgraph">
			<div class="row">
				<div class="col-xs-6 col-sm-6 col-md-6">
					<div class="form-group">
                        <input type="text" name="first_name" id="first_name" class="form-control input-lg" placeholder="First Name" tabindex="1" required>
					</div>
				</div>
				<div class="col-xs-6 col-sm-6 col-md-6">
					<div class="form-group">
						<input type="text" name="last_name" id="last_name" class="form-control input-lg" placeholder="Last Name" tabindex="2" required>
					</div>
				</div>
			</div>
			<div class="form-group">
				<input type="number" name="mobile" id="mobile" class="form-control input-lg" placeholder="Mobile No." tabindex="3" maxlength="7" required>
			<p class="help-block"></p>
			</div>
			<div class="form-group">
				<input type="email" name="email" id="email" class="form-control input-lg" placeholder="Email Address" tabindex="4" required>
			</div>
			<div class="row">
				<div class="col-xs-6 col-sm-6 col-md-6">
					<div class="form-group">
						<input type="password" name="password" id="password" class="form-control input-lg" placeholder="Password" tabindex="5" required>
					</div>
				</div>
				<div class="col-xs-6 col-sm-6 col-md-6">
					<div class="form-group">
						<input type="password" name="password_confirmation" id="password_confirmation" class="form-control input-lg error" placeholder="Confirm Password" tabindex="6" required>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-3 col-sm-3 col-md-3">
					<span class="button-checkbox">
						<button type="button" class="btn" data-color="info" tabindex="7">I Agree</button>
                        <input type="checkbox" name="t_and_c" id="t_and_c" class="hidden" value="1" required >
					</span>
				</div>
				<div class="col-xs-9 col-sm-9 col-md-9">
					 By clicking <strong class="label label-primary">Register</strong>, you agree to the <a href="#" data-toggle="modal" data-target="#t_and_c_m">Terms and Conditions</a> set out by this site, including our Cookie Use.
				</div>
			</div>
			<p>
						<label for="captcha_reg"><small>CAPTCHA</small></label><br />
						<img src="{{ @captcha_reg }}" title="captcha" />
						<input id="captcha_reg" name="captcha_reg" type="text" />
						</p>
			<hr class="colorgraph">
			<div class="row">
				<input type="hidden" name="register" value="register" />
				<div class="col-xs-6 col-md-6"><input type="submit" value="Register" class="btn btn-primary btn-block btn-lg" tabindex="7"></div>
				<div class="col-xs-6 col-md-6"><input type="reset" value="Cancel" class="btn btn-success btn-block btn-lg" tabindex="7"></div>
			</div>
		</form>
	</div>

<!-- Modal -->
<div class="modal fade" id="t_and_c_m" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title" id="myModalLabel">Terms & Conditions</h4>
			</div>
			<div class="modal-body">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">I Agree</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<exclude>
<div class="main">
	<form method="post" action="{{ @BASE }}/login" class="form-inline">
		<h5>Login</h5>
		<check if="{{ isset(@message) }}">
		<p class="message">{{ @message }}</p>
		</check>
		<p>
			<exclude>
			<label for="user_id"><small>User ID</small></label><br />
			<input id="mobile" name="mobile" type="text" {{ isset(@POST.mobile)?('value="'.@POST.mobile.'"'):'' }} />
			</exclude>
			<div class="input-prepend">
            <span class="add-on"><i class="icon-user"></i></span>
            <input type="text" placeholder="Username" class="input-medium" {{ isset(@POST.mobile)?('value="'.@POST.mobile.'"'):'' }} />
            <input type="password" class="input-small" placeholder="Password">
        <label class="checkbox"><input type="checkbox"> Remember me</label>
        </div>
		</p>
		<p>
			<label for="password"><small>Password</small></label><br />
			<input id="password" name="password" type="password" />
		</p>
		<p>
			<input type="submit" />
		</p>
	</form>
</div>
</exclude>
